[submodule "public"]
	path = public
	url = git@github.com:xblzbjs/xblzbjs.github.io.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = git@github.com:xblzbjs/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
